input[type="text"] {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

input[type="text"]:focus {
  outline: none;
}

.btn-search {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 2px;
  color: gray;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.autocomplete-box {
  /* margin-top: 2px; */
  padding: 10px;
  color: rgb(209, 209, 209);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.autocomplete-box li {
  list-style: none;
}

.autocomplete-box li:hover {
  color: white;
  cursor: pointer;
}
